$base-font-size: 15px;
$base-font-family: Arial, Helvetica, sans-serif;
$base-color: #000;
$white-color: #fff;
$gray-color-old: #77808b;
$gray-color: #45484C;
$gray-color-light: #7c7c7c;
$blue-color: #0F3E6E;
$distinction-color: #b70e12;
$table_th-gray-color: #7e8890;
$base-width: 960px;
$base-margin: 111px;
$base-width-content: $base-width - $base-margin * 2;
$base-width-content-one: $base-width - $base-margin;
$main_title-font-size: 27px;
$main_menu-font-size: 18px;
$main_menu_title-font-size: 20px;
$btn-font-size: 14px;
$small_title-font-size: 14px;
$small_btn-font-size: 11px;
$input-font-size: 13px;
$popup_width: 740px;
$popup_height: 540px;