@charset "UTF-8";
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 1, ../../dev/sass/base/project/_globals.scss */
#mainarea {
  margin: 0px auto;
}

/* line 7, ../../dev/sass/base/project/_globals.scss */
.wrap {
  width: 960px;
  height: 100%;
  padding: 0 111px;
  margin: 0px auto;
}

/* line 13, ../../dev/sass/base/project/_globals.scss */
.fl_l {
  float: left;
}

/* line 16, ../../dev/sass/base/project/_globals.scss */
.fl_r {
  float: right;
}

/* line 19, ../../dev/sass/base/project/_globals.scss */
.ta_l {
  text-align: left;
}

/* line 22, ../../dev/sass/base/project/_globals.scss */
.ta_r {
  text-align: right;
}

/* line 25, ../../dev/sass/base/project/_globals.scss */
.ta_c {
  text-align: center;
}

/* For modern browsers */
/* line 30, ../../dev/sass/base/project/_globals.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 35, ../../dev/sass/base/project/_globals.scss */
.clearfix:after {
  clear: both;
}

/* ╨┤╨╗╤П IE6-7 */
/* line 40, ../../dev/sass/base/project/_globals.scss */
.clearfix {
  zoom: 1;
}

/* line 43, ../../dev/sass/base/project/_globals.scss */
body {
  width: 100%;
  height: 100%;
  background: url("../../img/bg.jpg") repeat;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../dev/sass/vendor/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 18, ../../dev/sass/vendor/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 21, ../../dev/sass/vendor/_reset.scss */
body {
  line-height: 1;
}

/* line 24, ../../dev/sass/vendor/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 27, ../../dev/sass/vendor/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../dev/sass/vendor/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 36, ../../dev/sass/vendor/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../../dev/sass/vendor/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../../dev/sass/vendor/_reset.scss */
button:focus {
  outline: none;
}

/* line 6, ../../dev/pages/main_page/main_page.scss */
.container {
  width: 1000px;
  margin: 0px auto;
}

/* line 12, ../../dev/pages/main_page/main_page.scss */
.wrapper .head_main_menu {
  width: 100%;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  background: #fff;
}
/* line 18, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu {
  width: 100%;
  height: 295px;
}
/* line 22, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs {
  position: relative;
  overflow: hidden;
}
/* line 25, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab {
  width: 426.5px;
  height: 295px;
  position: relative;
  background: url("../../img/new_banner_slide.png") no-repeat;
  background-position: -1172px 0;
  float: left;
  display: inline-block;
  margin: 0px;
  -webkit-transition: width 0.3s 0.1s ,background-position 0.3s 0.1s;
  -moz-transition: width 0.3s 0.1s ,background-position 0.3s 0.1s;
  -o-transition: width 0.3s 0.1s ,background-position 0.3s 0.1s;
  transition: width 0.3s 0.1s ,background-position 0.3s 0.1s;
}
/* line 39, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab ul {
  position: absolute;
  top: 80px;
  right: 60px;
  opacity: 0;
}
/* line 44, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab ul li {
  display: block;
}
/* line 47, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab ul li a {
  color: #000;
  text-decoration: none;
}
/* line 50, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab ul li a:hover {
  text-decoration: underline;
}
/* line 56, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab span.text {
  position: absolute;
  top: 20px;
  left: 220px;
  color: #000;
  text-shadow: 0px 0px 0px #000, 0px 1px 0px #aaa;
  -webkit-transition: all 0.3s 0.1s;
  -moz-transition: all 0.3s 0.1s;
  -o-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
}
/* line 66, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab span.text:hover {
  text-decoration: underline;
}
/* line 69, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab span.text.active {
  left: 297px;
}
/* line 72, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab span.text.not_active {
  left: 170px;
}
/* line 76, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab:nth-child(1) {
  z-index: 300;
}
/* line 79, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab:nth-child(2) {
  z-index: 200;
  margin-left: -140px;
}
/* line 82, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab:nth-child(2) img {
  margin-left: -150px;
  -webkit-transition: margin-left 0.3s 0.1s;
  -moz-transition: margin-left 0.3s 0.1s;
  -o-transition: margin-left 0.3s 0.1s;
  transition: margin-left 0.3s 0.1s;
}
/* line 90, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab:nth-child(3) {
  z-index: 100;
  margin-left: -140px;
  background-position: -926px 0 !important;
}
/* line 94, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .tab:nth-child(3) img {
  margin-left: -70px;
  -webkit-transition: margin-left 0.3s 0.1s;
  -moz-transition: margin-left 0.3s 0.1s;
  -o-transition: margin-left 0.3s 0.1s;
  transition: margin-left 0.3s 0.1s;
}
/* line 103, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .active.tab {
  width: 560px;
  background: url("../../img/new_banner_slide_active.png") no-repeat;
  background-position: -1040px 0px;
}
/* line 108, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .active.tab ul {
  opacity: 1;
  -webkit-transition: all 0.5s 0.2s;
  -moz-transition: all 0.5s 0.2s;
  -o-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}
/* line 115, ../../dev/pages/main_page/main_page.scss */
.wrapper .main_menu .tabs .active.tab img {
  margin-left: 0px;
}
/* line 121, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu {
  width: 100%;
}
/* line 124, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul {
  display: table-row;
  height: 30px;
}
/* line 128, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 30px;
  background: #ACABAB;
}
/* line 136, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul li:first-child {
  border-radius: 0px 0px 0px 10px;
}
/* line 139, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul li:last-child {
  border-right: 0px;
  border-radius: 0px 0px 10px 0px;
}
/* line 143, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul li:hover {
  background: #05BEBE;
}
/* line 147, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul li a {
  display: table-cell;
  width: 1000px;
  vertical-align: middle;
  white-space: pre;
  text-decoration: none;
  height: 30px;
  color: #fff;
}
/* line 156, ../../dev/pages/main_page/main_page.scss */
.wrapper .menu ul li.active {
  background: #05BEBE;
}

/* line 1, ../../dev/sass/specifics/_footer.scss */
footer {
  width: 100%;
  padding: 1.33333em;
  height: 4.5em;
  background: #fff;
  bottom: 0;
}
/* line 8, ../../dev/sass/specifics/_footer.scss */
footer .footer_copyright {
  font-size: 0.66667em;
  margin-top: 0.4em;
}
/* line 12, ../../dev/sass/specifics/_footer.scss */
footer .footer_navigate_wrap {
  border-left: 1px solid black;
  padding-left: 2%;
}
/* line 17, ../../dev/sass/specifics/_footer.scss */
footer .footer_navigate_wrap .footer_navigate a {
  color: #45484C;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -moz-transition-property: border-bottom, color;
  -o-transition-property: border-bottom, color;
  -webkit-transition-property: border-bottom, color;
  transition-property: border-bottom, color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 26, ../../dev/sass/specifics/_footer.scss */
footer .footer_navigate_wrap .footer_navigate a:hover {
  border-bottom: 1px solid #7c7c7c;
  color: #7c7c7c;
}
/* line 33, ../../dev/sass/specifics/_footer.scss */
footer .footer_logo {
  margin: 0.4em 1.23457%;
}

/* line 4, ../../dev/sass/specifics/_header.scss */
header .search_block {
  background: #fff;
  float: left;
  width: 545px;
  margin: 20px 20px 0;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 12, ../../dev/sass/specifics/_header.scss */
header .search_block input[type="text"] {
  width: 170px;
  height: 30px;
  padding: 6px;
  box-sizing: border-box;
  float: left;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #aaa;
}
/* line 21, ../../dev/sass/specifics/_header.scss */
header .search_block input[type="button"] {
  width: 42px;
  height: 30px;
  padding: 6px;
  box-sizing: border-box;
  background: url(../../img/magnifier.png) 8px 1px no-repeat #fff;
  background-size: 70%;
  border: solid #aaa;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 5px 5px 0px;
}
/* line 32, ../../dev/sass/specifics/_header.scss */
header .search_block .search_type {
  background: #a99;
  color: #fff;
  padding: 0px 5px;
  cursor: pointer;
  @param $select [none];
}
/* line 40, ../../dev/sass/specifics/_header.scss */
header .login {
  background: #fff;
  float: left;
  margin: 1.33333em 0;
  padding: 2em 3.125%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 46, ../../dev/sass/specifics/_header.scss */
header .login input[type="submit"] {
  padding: 0.33333em 1.04167%;
}
/* line 50, ../../dev/sass/specifics/_header.scss */
header .login .block p {
  height: 2em;
  margin: 0.33333em 0px;
  display: block;
}
/* line 55, ../../dev/sass/specifics/_header.scss */
header .login .block p:last-child {
  height: inherit;
}
/* line 58, ../../dev/sass/specifics/_header.scss */
header .login .block p span {
  float: left;
  margin-top: 0.26667em;
}
/* line 63, ../../dev/sass/specifics/_header.scss */
header .login .block p input[type="text"], header .login .block p input[type="password"], header .login .block p input[type="email"] {
  width: 56.66667%;
  height: 2em;
  padding: 0.4em 2%;
  box-sizing: border-box;
  float: right;
}
/* line 70, ../../dev/sass/specifics/_header.scss */
header .login .block p input[type="submit"] {
  padding: 0.33333em 3.33333%;
}
/* line 73, ../../dev/sass/specifics/_header.scss */
header .login .block p label {
  width: 100%;
  text-align: right;
  display: block;
  padding: 0px 14.0% 0px 0px;
  box-sizing: border-box;
}
/* line 80, ../../dev/sass/specifics/_header.scss */
header .login .block p label input#remember_me {
  margin: 0.66667em 1%;
}
/* line 86, ../../dev/sass/specifics/_header.scss */
header .login .block.entered a.nick {
  color: #05BEBE;
  text-decoration: none;
}
/* line 89, ../../dev/sass/specifics/_header.scss */
header .login .block.entered a.nick:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 94, ../../dev/sass/specifics/_header.scss */
header .login .block.entered a {
  color: #000;
  text-decoration: none;
}
/* line 97, ../../dev/sass/specifics/_header.scss */
header .login .block.entered a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 101, ../../dev/sass/specifics/_header.scss */
header .login .block.entered a.exit_link {
  color: #b70e12;
}
/* line 109, ../../dev/sass/specifics/_header.scss */
header .logo {
  width: 15.625%;
  padding: 1.33333em 2.08333%;
  float: right;
  background: #fff;
  margin: 1.46667em 0 1.33333em 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 3, ../../dev/sass/specifics/_posts.scss */
.posts {
  width: 100%;
  background: #fff;
  margin: 20px 0px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
}
/* line 11, ../../dev/sass/specifics/_posts.scss */
.posts .post {
  margin-bottom: 20px;
}
/* line 14, ../../dev/sass/specifics/_posts.scss */
.posts .post:last-child {
  margin-bottom: 0;
}
/* line 18, ../../dev/sass/specifics/_posts.scss */
.posts .post h3 {
  margin-bottom: 10px;
  display: inline;
  margin-right: 10px;
  font-family: 'Brandon Grotesque';
  font-weight: 300;
  font-size: 1.33333em;
  line-height: 1;
}
/* line 27, ../../dev/sass/specifics/_posts.scss */
.posts .post p {
  margin-top: 10px;
}
/* line 30, ../../dev/sass/specifics/_posts.scss */
.posts .post span {
  font-size: 10px;
  color: #999;
}
/* line 36, ../../dev/sass/specifics/_posts.scss */
.posts .add_post .add {
  background: url("../../img/plus.png") no-repeat;
  background-size: contain;
  width: 200px;
  height: 24px;
  padding: 6px 0px 0px 35px;
  font-size: 18px;
  font-weight: bold;
  color: #9A9A9A;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 48, ../../dev/sass/specifics/_posts.scss */
.posts .add_post #write_post {
  display: none;
}
/* line 50, ../../dev/sass/specifics/_posts.scss */
.posts .add_post #write_post textarea#post_text {
  width: 100%;
  min-height: 100px;
  resize: none;
  margin: 10px 0px;
  box-sizing: border-box;
  padding: 10px;
}
/* line 58, ../../dev/sass/specifics/_posts.scss */
.posts .add_post #write_post input[type="text"] {
  width: 170px;
  height: 30px;
  padding: 6px;
  box-sizing: border-box;
}
/* line 64, ../../dev/sass/specifics/_posts.scss */
.posts .add_post #write_post input[type="submit"] {
  padding: 5px 10px;
}
