@function em($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0em;
}

@function flex($target, $context: $base-width) {
	@if $target == 0 { @return 0 }
	@return $target / $context * 100%;
}



@mixin clearfix {
  *zoom: 1;

  &:before, &:after {
	content: ' ';
	display: table;
  }

  &:after {
	clear: both;
  }
}


@mixin user-select($select) {
  $select: unquote($select);
  @include with-each-prefix(user-select-none, $userselect-support-threshold) {
    // old Firefox used a proprietary `-moz-none` value, starting with Firefox 21 `none` behaves like `-moz-none`
    // @link https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
    @include prefix-prop(user-select, if($current-prefix == -moz and $select == "none", -moz-none, $select));
  }
}